<section class="hero">
	<div class="w-full relative min-h-[919px] bg-[#222C2D] text-white">
		<img src="https://cdn.builder.io/api/v1/image/assets/TEMP/7e53b7b59e1e4ea477621659e50c0a39adcf7c80?placeholderIfAbsent=true" class="absolute h-full w-full object-cover inset-0" alt="Hero background" />
		<div class="max-w-[1440px] mx-auto px-5 lg:px-16 xl:px-20 pt-[164px] pb-[353px] relative z-10 max-md:py-[100px]">
			<div class="flex w-full items-stretch gap-5 flex-wrap justify-between max-md:max-w-full">
				<div class="flex flex-col items-stretch max-md:max-w-full">
					<h2 class="font-lexend text-secondary text-[19px] font-semibold leading-relaxed max-md:max-w-full">Bem-vindo ao Horse House</h2>
					<h1 class="font-lexend text-7xl font-bold mt-8 leading-tight max-md:max-w-full max-md:text-[40px]">O único sistema que seu haras vai precisar.</h1>
					<button class="bg-secondary gap-2.5 text-base font-medium mt-8 px-5 py-2.5 hover:bg-opacity-90 transition-colors w-fit">Get Start</button>
				</div>
				<img src="https://cdn.builder.io/api/v1/image/assets/TEMP/0162cf29d5072c7f86e7c554b4ee2b69d0d08806?placeholderIfAbsent=true" class="aspect-[0.14] object-contain w-[30px] shrink-0 mt-[191px] max-md:mt-10" alt="Scroll indicator" />
			</div>
		</div>
	</div>
</section>
