<!-- modal.html -->
<div class="fixed inset-0 bg-black/50 z-50">
    <div class="bg-tertiary rounded-2xl shadow-xl max-w-sm w-full p-6 space-y-4 animate-fade-in absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 ">
        <h2 class="text-xl font-semibold text-gray-800 modal-title">Título</h2>
        <p class="text-gray-600 modal-message">Mensagem</p>
        <div class="text-right">
            <button class="modal-ok px-4 py-2 bg-secondary text-tertiary rounded-lg transition">
                OK
            </button>
        </div>
    </div>
</div>
